<div class="container hero">
    <div class="row justify-content-center text-center">
        <div class="col-12">
            <h1 class="hero__heading-title">Simple and extremely efficient solutions<br />for your Selenium test infrastructure</h1>
            <p class="hero__heading-description">Short way to efficient Selenium testing</p>
        </div>
        <div class="col-12 d-none d-sm-none d-md-none d-lg-block">
            <img src="images/pipes.svg" alt="pipes">
        </div>
        <div class="col-12">
            <div class="row  hero__features">
                <div class="col-12 col-lg-auto mb-4">
                    <a href="https://aerokube.com/selenoid/" class="hero__feature hero__feature_selenoid">
                        <h4 class="hero__feature-title">Selenoid</h4>
                        <div class="hero__feature-divider"></div>
                        <p class="hero__feature-description">
                            Your company is using cloud virtual machines
                        </p>
                    </a>
                </div>
                <div class="col-12 col-lg-auto mb-4">
                    <a href="https://moon.aerokube.com/" class="hero__feature hero__feature_moon">
                        <h4 class="hero__feature-title">Moon</h4>
                        <div class="hero__feature-divider"></div>
                        <p class="hero__feature-description">
                            Your company is using Kubernetes or Openshift
                        </p>
                    </a>
                </div>
                <div class="col-12 col-lg-auto mb-4">
                    <a href="https://browsers.aerokube.com/" class="hero__feature hero__feature_browsers">
                        <h4 class="hero__feature-title">Browsers</h4>
                        <div class="hero__feature-divider"></div>
                        <p class="hero__feature-description">
                            You need ready-to-use online solution
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
