<div class="videos">
    <div class="videos__title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Painless Selenium testing</h3>
                </div>
            </div>
            <div class="row videos__content">
                <div class="col-12 col-md-5">
                    <p>
                        We have more than 9 years of experience with big Selenium clusters. Thousands of companies are using our solutions in their everyday work.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>
                        Everything we provide is reliable, fault-tolerant, scalable and working out of the box. Simply choose a suitable solution and forget about Selenium testing issues.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="videos__half-container">
        <div class="container videos__video-wrapper">
            <div class="row">
                {{ range .Site.Data.meta.videos }}
                <div class="col-12 col-md-4 mb-4 videos__video">
                    <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ .image }}" alt="{{ .description }}" title="{{ .description }}">
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
