html, body {
    font-family: 'Ubuntu', sans-serif;
    color: #282828;
    font-size: 18px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2.111rem;
    line-height: 138%;
}

h3 {
    font-size: 1.44rem;
    line-height: 138%;
    font-weight: 400;
    margin-bottom: 24px;
}

h2 {

}

nav a {
    color: rgba(78, 78, 78, 0.75);
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: #1754ED;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    letter-spacing: 24px;
}

nav li {
    display: inline-block;
    letter-spacing: normal;
}

.header {
    height: 80px;
}

.header__logo-image {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.header__logo-title {
    vertical-align: middle;
    margin-left: 18px;
}

.header__links {
    list-style-type: none;
    text-align: right;
    margin: 0;
    height: 40px;
    line-height: 40px;
    letter-spacing: 24px;
}

.header__links ul {
    letter-spacing: 28px;
}

.hero {
    margin-top: 75px;
}

.hero__heading-description {
    margin-top: 24px;
    color: #6D6D7A;
    font-weight: 300;
    line-height: 207%;
}

.hero__features {
    justify-content: space-evenly;
}

.hero__feature {
    display: inline-block;
    height: 190px;
    padding: 42px 30px;
    transition: background-color 0.3s, color 0.3s;
    max-width: 280px;
}

.hero__feature:hover, .hero__feature:hover .hero__feature-title {
    color: white;
}

.hero__feature:hover .hero__feature-divider {
    background-color: rgba(255, 255, 255, 0.15);
}

.hero__feature-title {
    font-size: 1.44rem;
    font-weight: 600;
    transition: color 0.3s;
}

.hero__feature-divider {
    height: 2px;
    margin: 12px 20px;
    background-color: rgba(40, 40, 40, 0.15);
    border-radius: 2px;
    transition: background-color 0.3s;
}

.hero__feature-description {
    line-height: 138%;
    font-weight: 300;
}

.hero__feature_browsers {
    box-shadow: 0 0 12px rgba(137, 57, 180, 0.35);
}

.hero__feature_browsers:hover {
    background-color: #6739B4;
}

.hero__feature_browsers .hero__feature-title {
    color: #6739B4;
}

.hero__feature_moon {
    box-shadow: 0 0 12px rgba(38, 70, 148, 0.35);
}

.hero__feature_moon:hover {
    background-color: #264694;
}

.hero__feature_moon .hero__feature-title {
    color: #264694;
}

.hero__feature_selenoid {
    box-shadow: 0 0 12px rgba(51, 139, 47, 0.35);
}

.hero__feature_selenoid:hover {
    background-color: #338B93;
}

.hero__feature_selenoid .hero__feature-title {
    color: #338B93;
}

.videos {
    margin-top: 103px;
}

.videos__title-wrapper {
    padding-top: 68px;
    padding-bottom: 46px;
    background-color: #F5F5F5;
}

.videos__half-container {
    position: relative;
}

.videos__half-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background-color: #F5F5F5;
    z-index: 1;
}

.videos__video-wrapper {
    position: relative;
    z-index: 2;
}

.videos__content {
    font-weight: 300;
}

.videos__video img {
    width: 100%;
}

.articles {
    margin-top: 51px;
}

.articles__article {
    border: 2px solid rgba(10, 34, 94, 0.19);
    padding: 24px;
    border-radius: 5px;
    cursor: pointer;
}

.articles__articles {
    margin-top: 32px;
}

.articles__article-title {
    color: #1754ED;
    font-weight: 600;
    font-size: 1rem;
}

.articles__article-description {
    color: #6D6D7A;
    margin: 16px 0 0;
    font-weight: 300;
}

.footer {
    margin-top: 113px;
}

.footer__left {
    text-align: left;
}

.footer__right {
    text-align: right;
}

.footer__separator {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 25px 15px 38px;
}

.footer__bottom {
    margin-bottom: 50px;
}

.footer__terms {
    text-align: right;
    font-size: 0.78rem;
    line-height: 1rem;
}

.footer nav a {
    color: #282828;
}

.footer nav a:hover {
    color: #1754ED;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.9rem;
    }

    nav li {
        display: block;
    }

    .videos {
        margin-top: 23px;
    }

    .footer__left {
        font-size: 1.33rem;
        line-height: 3rem;
    }

    .footer__right {
        margin-top: 30px;
        text-align: left;
        line-height: 2rem;
    }

    .footer__terms {
        margin-top: 24px;
        text-align: left;
    }
}

@media (max-width: 992px) {
    .hero__feature {
        width: 100%;
        max-width: initial;
        height: inherit;
    }
}
